<div id="attachmentsControllerArea" data-ng-controller="attachmentsController" data-ng-init="init(true);">
    <div data-ng-include="'../common/components/attachment/attachments.html'"></div>
    <div id="previewBack" class="carousel-background">&nbsp;</div>
    <div data-ng-if="$parent.variable.flag.hasAttachment" id="attachmentCarouselParent" style="margin-top: -10px;">
        <iframe id="attachmentCarouselFrame" data-ng-src="{{variable.previewAllViewableAttachmentsSrc}}" class="border-default" style="width:100%; height: 400px;"></iframe>
    </div>
</div>

