<style>
    body {
        padding: 10px 10px 10px 10px;
    }

    .field-message {
        color: red;
        margin: -5px 0px 0px 12px;
    }


    .admin-code-message {
        color: red;
        padding: 0px 12px 0px 12px;
    }

    .date-message {
        color: red;
        margin: -10px 0px 0px 12px;
        /* padding: -10px 12px 6px 12px; */
    }

    ul.dropdown-menu {
        overflow-y: scroll;
        overflow: auto;
        height: 22em;
    }

    span.red {
        color:red;
    }

    a.no_underbar {
        text-decoration: none;
    }

    table.selectedList {
        margin-left: 3px;
        margin-top: -3px;
    }

    div.button-section {
        margin-top: 5px;
    }
</style>

<div id="reportFilter" ng-form="fReportSection" aria-busy="true">
    <fieldset>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <small>Mandatory Filters - You must select values for the following filters to run the report.</small>
                </h1>
            </div>
            <div class="panel-body">
                <div class="row container-fluid">
                    <div class="form-group col-md-3 required">
                        <label id="ComponentLabel" for="selectComponent" class="control-label">Component</label>
                        <selectize class="form-control" role="combobox" id="selectComponent" required aria-labelledby="ComponentLabel"
                                    ng-model="$ctrl.selected.component" 
                                    options="$ctrl.components"
                                    config="$ctrl.simpleConfig"
                                    placeholder="Select One..."
                                    name="components"></selectize>
                        <div class="field-message" ng-messages="fReportSection.components.$error" ng-clock>
                            <div ng-message="required">Select a value from the component filter</div>
                        </div>                                      
                    </div>
                    <div class="form-group col-md-3 required" ng-if="$ctrl.selected.component == 'By Admin Code'">
                        <label id="adminCodeLabel" for="adminCodeInput" class="control-label">Administrative Code</label>
                        <input name="adminCode" id="adminCodeInput" aria-labelledby="adminCodeLabel" 
                               ng-model="$ctrl.selected.adminCode" class="form-control" type="text" 
                               ng-minlength="3"
                               placeholder="Enter Administrative Code..." required aria-label="Administrative Code">
                        <div class="admin-code-message" ng-messages="fReportSection.adminCode.$error" ng-clock>
                            <div ng-message="required">Type the administrative code for the report</div>
                            <div ng-message="minlength">Enter a minimum of three characters for the administrative code</div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 required" ng-if="$ctrl.selected.component == 'By Admin Code'">
                        <label id="subOrgLabel" for="subOrgSelect" class="control-label">Include Cases for Sub-Orgs?</label>
                        <selectize id="subOrgSelect" role="combobox" aria-labelledby="subOrgLabel" required
                                    ng-model="$ctrl.selected.includeSubOrg" 
                                    options="$ctrl.includeSubOrgs"
                                    config="$ctrl.simpleConfig"></selectize>
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="col-md-3">
                        <label id="dateRCompletedFromLabel" 
                               for="dateRCompletedFromInput dateRCompletedFromButton" 
                               class="control-label">Date Range</label>
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="form-group col-md-3 required">
                        <label id="dateRCompletedFromLabel" for="dateRCompletedFromInput dateRCompletedFromButton" class="control-label">From</label>
                        <p class="input-group">
                            <input id="dateRCompletedFromInput" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.selected.fromDate" 
                                is-open="$ctrl.fromDateOpened" datepicker-options="$ctrl.dateOptionFrom" ng-required="true" 
                                close-text="Close" ng-change="$ctrl.changeFromOption()" required aria-labelledby="dateRCompletedFromLabel"
                                placeholder="MM/DD/YYYY" name="dateFrom"/>
                            <span class="input-group-btn">
                                <button id="dateRCompletedFromButton" type="button" class="btn btn-default" ng-click="$ctrl.openFromDate($event)" required aria-labelledby="dateRCompletedFromLabel">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                        <div class="date-message" ng-messages="fReportSection.dateFrom.$error" ng-clock>
                            <div ng-message="required">Set the start date for the report date range</div>
                            <div ng-message="date">Type the date in the format: MM/DD/YYYY</div>
                        </div>                        
                    </div>
                    <div class="form-group col-md-3 required">
                        <label id="dateRCompletedToLabel" for="dateRCompletedToInput dateRCompletedToButton" class="control-label">To</label>
						<p class="input-group">
                            <input id="dateRCompletedToInput" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.selected.toDate" 
                                is-open="$ctrl.toDateOpened" datepicker-options="$ctrl.dateOptionTo" ng-required="true" 
                                close-text="Close" ng-change="$ctrl.changeToOption()" required aria-labelledby="dateRCompletedToLabel"
                                placeholder="MM/DD/YYYY" name="dateTo"/>
                            <span class="input-group-btn">
                                <button id="dateRCompletedToButton" type="button" class="btn btn-default" ng-click="$ctrl.openToDate($event)" aria-labelledby="dateRCompletedToLabel">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                        <div class="date-message" ng-messages="fReportSection.dateTo.$error" ng-clock>
                            <div ng-message="required">Set the end date for the report date range</div>
                            <div ng-message="date">Type the date in the format: MM/DD/YYYY</div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" aria-labelledby="sectionHelp">
            <div class="panel-heading">
                <h1 class="panel-title" id="sectionHelp">
                    <small>Optional Filters - You can select values for the following filters to refine the cases that are displayed in the report.</small>
                </h1>
            </div>

            <div class="panel-body">       
                <div class="row container-fluid">
                    <div class="form-group col-md-3">
                        <label id="employeeNameLabel" for="employeeName" class="control-label ">Employee Name</label>
                        <input name="employeeName" id="employeeName" aria-labelledby="employeeNameLabel" 
                               ng-model="$ctrl.selected.employeeName" class="form-control" type="text" 
                               placeholder="Enter Employee Name..." aria-label="Employee Name"
                               uib-typeahead="name for name in $ctrl.getNames('emp', $viewValue)"
                               typeahead-no-results="NotFoundEmployee"
                               typeahead-min-length=3
                               typeahead-wait-ms=500> 
                        <div ng-show="NotFoundEmployee">
                            <i class="glyphicon glyphicon-remove"></i> No Emmployee Found
                        </div>
                    </div>                               
                    
                    <div class="form-group col-md-3">
                        <label id="customerNameLabel" for="customerName" class="control-label">Customer Contact Name</label>
                        <input name="customerName" id="customerName" aria-labelledby="customerNameLabel" 
                                ng-model="$ctrl.selected.customerName" class="form-control" type="text" 
                                placeholder="Enter Customer Contact Name..."  aria-label="Customer Contact Name"
                                uib-typeahead="name for name in $ctrl.getNames('cust', $viewValue)"
                                typeahead-no-results="NotFoundCustomer"
                                typeahead-min-length=3
                                typeahead-wait-ms=500> 
                         <div ng-show="NotFoundCustomer">
                             <i class="glyphicon glyphicon-remove"></i> No Customer Found
                         </div>                                 
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label id="specialistLabel" for="specialistSelect" class="control-label">Primary ER/LR Specialist</label>
                        <selectize id="specialistSelect" 
                                    config="$ctrl.membersInGroupConfig"
                                    role="combobox" 
                                    options="$ctrl.group['DWC']" 
                                    ng-model="$ctrl.selected.specialist"></selectize>
                    </div>

                </div>   

                <div class="row container-fluid">
                    <div class="form-group col-md-3">
                        <label id="caseTypeLabel" for="caseTypeSelect" class="control-label">Case Type</label>
                        <selectize role="combobox" id="caseTypeSelect" aria-labelledby="caseTypeLabel"
                                    ng-model="$ctrl.selected.caseType"
                                    options="$ctrl.caseTypes"
                                    config="$ctrl.caseTypeConfig"></selectize>
                    </div>
                </div>

                <div class="row container-fluid">
                    <div class="form-group col-md-3" ng-hide="$ctrl.categories.length == 0">
                        <label id="caseCategoryLabel" for="scheduleATypeSelect" class="control-label">Case Category</label>
                        <selectize role="combobox" id="caseCategorySelect" aria-labelledby="caseCategoryLabel"
                                    ng-model="$ctrl.selected.caseCategory"
                                    options="$ctrl.categories"
                                    config="$ctrl.categoryConfig"></selectize>

                        <table class="selectedList" ng-show="$ctrl.selected.caseCategories.length > 0">
                            <tr style="margin-bottom: 2px" ng-repeat="item in $ctrl.selected.caseCategories">
                                <td valign="top">
                                    <a class="no_underbar" href="" ng-click="$ctrl.removeCaseCategory(item)">
                                        <span class="red" ><strong>X </strong></span>
                                    </a>
                                </td>
                                <td>&nbsp;</td>
                                <td valign="top">{{item}}</td>
                            </tr>
                        </table>
                        <div style="margin-top:10px" ng-show="$ctrl.selected.caseCategories.length > 0">
                            <button type="button" class="btn btn-primary btn-sm" name="Clear" ng-click="$ctrl.removeCaseCategory()" aria-label="Clear"> Clear</button>
                        </div>
            
                    </div>

                    <div class="form-group col-md-3">
                        <label id="caseStatusLabel" for="caseStatusSelect" class="control-label">Case Status</label>
                        <selectize role="combobox" id="caseStatusSelect" aria-labelledby="caseStatusLabel"
                                    ng-model="$ctrl.selected.status"
                                    options="$ctrl.caseStatusList"
                                    config="$ctrl.statusConfig"></selectize>

                        <table class="selectedList" ng-show="$ctrl.selected.statusList.length > 0">
                            <tr style="margin-bottom: 2px" ng-repeat="item in $ctrl.selected.statusList">
                                <td valign="top">
                                    <a class="no_underbar" href="" ng-click="$ctrl.removeStatus(item)">
                                        <span class="red" ><strong>X </strong></span>
                                    </a>
                                </td>
                                <td>&nbsp;</td>
                                <td valign="top">{{item}}</td>
                            </tr>
                        </table>
                        <div style="margin-top:10px" ng-show="$ctrl.selected.statusList.length > 0">
                            <button type="button" class="btn btn-primary btn-sm" name="Clear" ng-click="$ctrl.removeStatus()" aria-label="Clear"> Clear</button>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label id="finalActionLabel" for="finalActionSelect" class="control-label">Final Action </label>
                        <selectize role="combobox" id="finalActionSelect" aria-labelledby="finalActionLabel"
                                    ng-model="$ctrl.selected.finalAction"
                                    options="$ctrl.finalActions"
                                    config="$ctrl.finalActionConfig"></selectize>
                        <table class="selectedList" ng-show="$ctrl.selected.finalActions.length > 0">
                            <tr style="margin-bottom: 2px" ng-repeat="item in $ctrl.selected.finalActions">
                                <td valign="top">
                                    <a class="no_underbar" href="" ng-click="$ctrl.removeFinalAction(item)">
                                        <span class="red" ><strong>X </strong></span>
                                    </a>
                                </td>
                                <td>&nbsp;</td>
                                <td valign="top">{{item}}</td>
                            </tr>
                        </table>
                        <div style="margin-top:10px" ng-show="$ctrl.selected.finalActions.length > 0">
                            <button type="button" class="btn btn-primary btn-sm" name="Clear" ng-click="$ctrl.removeFinalAction()" aria-label="Clear"> Clear</button>
                        </div>
                    </div>
                </div>

                <div class="row row-centered button-section">
                    <div class="col-md-5 col-centered">
                        <button type="button" class="btn btn-primary" name="ok" ng-click="$ctrl.submit()" ng-disabled="fReportSection.$invalid" aria-label="OK">
                            <span class="glyphicon glyphicon-ok"></span> OK</button>
                        <button type="button" class="btn btn-primary" name="reset" ng-click="$ctrl.reset()" aria-label="Reset">
                            <span class="glyphicon glyphicon-refresh"></span> Reset</button>
                        <button type="button" class="btn btn-primary" name="cancel" ng-click="$ctrl.close()" aria-label="Cancel">
                            <span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>