<style>
    body {
        padding: 10px 10px 10px 10px;
    }
    .field-message {
        color: red;
        margin: 0px 0px 0px 10px;
    }
    .admin-code-message {
        color: red;
        padding: 0px 12px 0px 12px;
    }
    .date-message {
        color: red;
        margin: -10px 0px 0px 12px;
        /* padding: -10px 12px 6px 12px; */
    } 
     
</style>

<div role="dialog" id="reportFilter" ng-form="fReportSection" aria-busy="true">
    <fieldset>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <small>{{$ctrl.report.description}}</small>
                </div>
            </div>
            <div class="panel-body">
                <div class="row container-fluid">
                    <div class="form-group col-md-3 required">
                        <label id="ComponentLabel" for="selectComponent" class="control-label">Component</label>
                        <selectize ng-if="$ctrl.isSection508User == false"
                                    class="form-control" role="combobox" id="selectComponent" required aria-labelledby="ComponentLabel"
                                    ng-model="$ctrl.selected.component" 
                                    options="$ctrl.components"
                                    config="$ctrl.simpleConfig"
                                    placeholder="Select One..."
                                    name="components"></selectize>
                        <select ng-if="$ctrl.isSection508User == true"
                                    class="form-control" role="combobox" id="selectComponent" required aria-labelledby="ComponentLabel"
                                    ng-model="$ctrl.selected.component" 
                                    ng-options="item for item in $ctrl.components"
                                    placeholder="Select One..."
                                    name="components"
                                    tabindex="0"
                                    title="{{fReportSection.components.$error.required ? 'Select a value from the component filter' : ' '}}">
                            <option value="" hidden>Select One</option>
                        </select>

                        <div ng-if="$ctrl.isSection508User == false" class="field-message" ng-messages="fReportSection.components.$error" ng-clock>
                            <div ng-message="required">Select a value from the component filter</div>
                        </div>                                      
                    </div>
                    <div class="form-group col-md-3 required" ng-if="$ctrl.selected.component == 'By Admin Code'">
                        <label id="adminCodeLabel" for="adminCodeInput" class="control-label">Administrative Code</label>
                        <input name="adminCode" id="adminCodeInput" aria-labelledby="adminCodeLabel" 
                               ng-model="$ctrl.selected.adminCode" class="form-control" type="text" 
                               ng-minlength="3"
                               tabindex="0"
                               placeholder="Enter Administrative Code..." required aria-label="Administrative Code"
                               title="{{$ctrl.getErrorMessage('adminCodeInput', fReportSection.adminCode.$error)}}"
                               >
                        <div ng-if="$ctrl.isSection508User == false" class="admin-code-message" ng-messages="fReportSection.adminCode.$error" ng-clock>
                            <div ng-message="required">Type the administrative code for the report</div>
                            <div ng-message="minlength">Enter a minimum of three characters for the administrative code</div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 required" ng-if="$ctrl.selected.component == 'By Admin Code'">
                        <label id="subOrgLabel" for="subOrgSelect" class="control-label">Include Requests for Sub-Orgs?</label>
                        <selectize ng-if="$ctrl.isSection508User == false"
                                    id="subOrgSelect" role="combobox" aria-labelledby="subOrgLabel" required
                                    ng-model="$ctrl.selected.includeSubOrg" 
                                    options="$ctrl.includeSubOrgs"
                                    config="$ctrl.simpleConfig"></selectize>
                        <select ng-if="$ctrl.isSection508User == true"
                                    class="form-control"
                                    id="subOrgSelect" role="combobox" aria-labelledby="subOrgLabel" required
                                    ng-model="$ctrl.selected.includeSubOrg" 
                                    tabindex="0"
                                    ng-options="item for item in $ctrl.includeSubOrgs"></select>

                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="col-md-3">
                        <label id="dateRCompletedFromLabel" class="control-label">{{$ctrl.report.element.Date.label}}</label>
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="form-group col-md-3 required">
                        <label id="dateRCompletedFromLabel" class="control-label">From</label>
                        <p class="input-group">
                            <input id="dateRCompletedFromInput" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.selected.fromDate" 
                                is-open="$ctrl.fromDateOpened" datepicker-options="$ctrl.dateOptionFrom" ng-required="true" 
                                close-text="Close" ng-change="$ctrl.changeFromOption()" required 
                                placeholder="MM/DD/YYYY" name="dateFrom"
                                aria-label="{{$ctrl.report.element.Date.label + ' From'}}" 
                                tabindex="0"
                                title="{{$ctrl.getErrorMessage('dateRCompletedFromInput', fReportSection.dateFrom.$error)}}"                                
                                />
                            <span ng-if="$ctrl.isSection508User == false" class="input-group-btn">
                                <button id="dateRCompletedFromButton" type="button" class="btn btn-default" ng-click="$ctrl.openFromDate($event)" required aria-labelledby="dateRCompletedFromLabel">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                        <div ng-if="$ctrl.isSection508User == false" class="date-message" ng-messages="fReportSection.dateFrom.$error" ng-clock>
                            <div ng-message="required">Set the start date for the report date range</div>
                            <div ng-message="date">Type the date in the format: MM/DD/YYYY</div>
                        </div>                        
                    </div>
                    <div class="form-group col-md-3 required">
                        <label id="dateRCompletedToLabel" class="control-label">To</label>
						<p class="input-group">
                            <input id="dateRCompletedToInput" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.selected.toDate" 
                                is-open="$ctrl.toDateOpened" datepicker-options="$ctrl.dateOptionTo" ng-required="true" 
                                close-text="Close" ng-change="$ctrl.changeToOption()" required 
                                placeholder="MM/DD/YYYY" name="dateTo"
                                aria-label="{{$ctrl.report.element.Date.label + ' To'}}" 
                                tabindex="0"
                                title="{{$ctrl.getErrorMessage('dateRCompletedToInput', fReportSection.dateFrom.$error)}}"                                
                                />
                            <span ng-if="$ctrl.isSection508User == false" class="input-group-btn">
                                <button id="dateRCompletedToButton" type="button" class="btn btn-default" ng-click="$ctrl.openToDate($event)" aria-labelledby="dateRCompletedToLabel">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                        <div ng-if="$ctrl.isSection508User == false" class="date-message" ng-messages="fReportSection.dateTo.$error" ng-clock>
                            <div ng-message="required">Set the end date for the report date range</div>
                            <div ng-message="date">Type the date in the format: MM/DD/YYYY</div>
                        </div>                        
                    </div>
                    <div class="form-group col-md-3 required">
                        <label id="dayTypeLabel" for="dayType" class="control-label">Business or Calendar Days?</label>
                        <selectize  ng-if="$ctrl.isSection508User == false"
                                    required
                                    ng-required="true"
                                    placeholder="Select One"
                                    name="dayType"
                                    id="dayType" 
                                    config="$ctrl.simpleConfig"
                                    role="combobox" 
                                    options="$ctrl.dayTypes" 
                                    ng-model="$ctrl.selected.dayType"></selectize>
                        <select  ng-if="$ctrl.isSection508User == true"
                                    required class="form-control"
                                    ng-required="true"
                                    placeholder="Select One"
                                    name="dayType"
                                    id="dayType" 
                                    role="combobox" 
                                    tabindex="0"
                                    ng-options="item for item in $ctrl.dayTypes" 
                                    ng-model="$ctrl.selected.dayType"
                                    title="{{($ctrl.isSection508User == true && fReportSection.dayType.$error.required) ? 'Select Business or Calendar Days' : null }}"                                    
                                    >
                            <option hidden value="">Select One</option>        
                        </select>

                        <div ng-if="$ctrl.isSection508User == false" class="field-message" ng-messages="fReportSection.dayType.$error" ng-clock>
                            <div ng-message="required">Select Business or Calendar Days</div>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>

        <div class="panel panel-default" aria-labelledby="sectionHelp">
            <div class="panel-heading">
                <div class="panel-title" id="sectionHelp">
                    <small>The optional fields below allow you to further filter the set of job requests that you wish to see on the report.</small>
                </div>
            </div>

            <div class="panel-body">
                <div class="row container-fluid">
                    <div class="form-group col-md-3">
                        <label id="requestTypeLabel" for="requestTypeSelect" class="control-label">Request Type</label>
                        <selectize  ng-if="$ctrl.isSection508User == false"
                                    id="requestTypeSelect" 
                                    config="$ctrl.simpleConfig" 
                                    options="$ctrl.requestTypes" 
                                    ng-model="$ctrl.selected.requestType"></selectize>
                        <select  ng-if="$ctrl.isSection508User == true"
                                    class="form-control"
                                    id="requestTypeSelect" 
                                    role="combobox"
                                    aira-labelledby="requestTypeLabel"
                                    ng-options="item for item in $ctrl.requestTypes" 
                                    tabindex="0"
                                    ng-model="$ctrl.selected.requestType">
                        </select>
                        
                    </div>
                    <div class="form-group col-md-3" 
                        ng-if="$ctrl.selected.requestType != 'Appointment' || ($ctrl.selected.appointmentType != 'Expert/Consultant' && $ctrl.selected.appointmentType != 'Volunteer')">
                        <label id="classificationTypeLabel" for="classificationTypeSelect" class="control-label">Classification Type</label>
                        <selectize ng-if="$ctrl.isSection508User == false"
                                    role="combobox" id="classificationTypeSelect" aria-labelledby="classificationTypeLabel" required
                                    ng-model ="$ctrl.selected.classificationType" 
                                    options = "$ctrl.getClassificationTypes()"
                                    config="$ctrl.simpleConfig"></selectize>
                        <select ng-if="$ctrl.isSection508User == true"
                                    class="form-control"
                                    tabindex="0"
                                    role="combobox" id="classificationTypeSelect" aria-labelledby="classificationTypeLabel" required
                                    ng-model ="$ctrl.selected.classificationType" 
                                    ng-options = "item for item in $ctrl.getClassificationTypes()"></select>
                    </div>

                    <div class="form-group col-md-3" ng-if="$ctrl.report.element.TypeOfStandardPD.show">
                        <label id="standardPDLabel" for="standardPDSelect" class="control-label">Type of Standard PD</label>
                        <selectize ng-if="$ctrl.isSection508User == false"
                                    role="combobox" id="standardPDSelect" aria-labelledby="standardPDLabel" required
                                    ng-model ="$ctrl.selected.standardPD" 
                                    options = "$ctrl.standardPDs"
                                    config="$ctrl.simpleConfig"></selectize>
                        <select ng-if="$ctrl.isSection508User == true" 
                                    class="form-control"
                                    tabindex="0"
                                    role="combobox" id="standardPDSelect" aria-labelledby="standardPDLabel" required
                                    ng-model ="$ctrl.selected.standardPD" 
                                    ng-options = "item for item in $ctrl.standardPDs"></select>
                    </div>

                </div>

                <div class="row container-fluid" ng-if="$ctrl.selected.requestType == 'Appointment'">
                    <div class="form-group col-md-3 required">
                        <label id="appointmentTypeLabel" for="appointmentTypeSelect" class="control-label">Appointment Type</label>
                        <selectize ng-if="$ctrl.isSection508User == false"
                                    role="combobox" id="appointmentTypeSelect" aria-labelledby="appointmentTypeLabel" required
                                    ng-model="$ctrl.selected.appointmentType"
                                    options="$ctrl.appointmentTypes"
                                    config="$ctrl.simpleConfig"></selectize>
                        <select ng-if="$ctrl.isSection508User == true"
                                    role="combobox" id="appointmentTypeSelect" aria-labelledby="appointmentTypeLabel" required
                                    class="form-control"
                                    tabindex="0"
                                    ng-model="$ctrl.selected.appointmentType"
                                    ng-options="item for item in $ctrl.appointmentTypes"></select>
                    </div>
                    <div class="form-group col-md-3 required" ng-if="$ctrl.selected.appointmentType == 'Schedule A'">
                        <label id="scheduleATypeLabel" for="scheduleATypeSelect" class="control-label">Schedule A Type</label>
                        <selectize ng-if="$ctrl.isSection508User == false" 
                                    role="combobox" id="scheduleATypeSelect" aria-labelledby="scheduleATypeLabel"  required
                                    ng-model="$ctrl.selected.scheduleAType"
                                    options="$ctrl.scheduleATypes"
                                    config="$ctrl.simpleConfig"></selectize>
                        <select ng-if="$ctrl.isSection508User == true"
                                    class="form-control"
                                    tabindex="0"
                                    role="combobox" id="scheduleATypeSelect" aria-labelledby="scheduleATypeLabel"  required
                                    ng-model="$ctrl.selected.scheduleAType"
                                    ng-options="item for item in $ctrl.scheduleATypes"></select>

                    </div>
                    <div class="form-group col-md-3 required" ng-if="$ctrl.selected.appointmentType == 'Volunteer'">
                        <label role="combobox" id="volunteerTypeLabel" for="volunteerTypeSelect" class="control-label">Volunteer Type</label>
                        <selectize ng-if="$ctrl.isSection508User == false" 
                                    id="volunteerTypeSelect" aria-labelledby="volunteerTypeLabel" required
                                    ng-model="$ctrl.selected.volunteerType"
                                    options="$ctrl.volunteerTypes"
                                    config="$ctrl.simpleConfig"></selectize>
                        <select ng-if="$ctrl.isSection508User == true"
                                    class="form-control"
                                    tabindex="0"
                                    id="volunteerTypeSelect" aria-labelledby="volunteerTypeLabel" required
                                    ng-model="$ctrl.selected.volunteerType"
                                    ng-options="item for item in $ctrl.volunteerTypes"></select>
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="form-group col-md-3">
                        <label id="selectingOfficialLabel" class="control-label" for="selectingOfficial"
                               title="{{$ctrl.selected.selectingOfficial == 'All' ? 'All is selected as a default value' : ''}}">Selecting Official - {{noResultsSO}} </label>
                        <selectize  ng-if="$ctrl.isSection508User == false" 
                                    aria-labelledby="selectingOfficialLabel"
                                    id="selectingOfficial"
                                    config="$ctrl.membersInGroupConfig" role="combobox"
                                    options="$ctrl.group['Selecting Officials']" 
                                    ng-model="$ctrl.selected.selectingOfficial"></selectize>                        
                        <div ng-if="$ctrl.isSection508User == true">
                            <input ng-model="$ctrl.selected.selectingOfficial508" 
                                class="form-control" 
                                type="text" 
                                placeholder="Type 3 characters of Selecting Official's name"

                                aria-labelledby="selectingOfficialLabel"
                                id="selectingOfficial"

                                uib-typeahead="item as item.name for item in $ctrl.group['Selecting Officials'] | filter: {name:$viewValue}"
                                typeahead-no-results="$ctrl.noResultsSO" 
                                typeahead-wait-ms="300" 
                                typeahead-min-length="3" 
                                typeahead-select-on-exact="true" 
                                typeahead-editable="true"
                                typeahead-focus-first="false"
                                ng-blur="$ctrl.selected.selectingOfficial508 = $ctrl.getValidMember($event, $ctrl.selected.selectingOfficial508, 'Selecting Officials')"
                                >
                            <div ng-if="$ctrl.noResultsSO" 
                                aria-live="assertive" role="log" aria-atomic="false" aria-relevant="additions">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>    
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label id="executiveOfficerLabel" for="executiveOfficer" class="control-label">Executive Officer</label>
                        <selectize ng-if="$ctrl.isSection508User == false"  
                                id="executiveOfficer"
                                aria-labelledby="executiveOfficerLabel"
                                config="$ctrl.membersInGroupConfig" role="combobox"
                                options="$ctrl.group['Executive Officers']" 
                                ng-model="$ctrl.selected.executiveOfficer"></selectize>
                        <div ng-if="$ctrl.isSection508User == true">
                            <input ng-model="$ctrl.selected.executiveOfficer508" 
                                class="form-control" 
                                type="text" 
                                placeholder="Type 3 characters of Executive Officer's name"

                                aria-labelledby="executiveOfficerLabel"
                                id="executiveOfficer"
                                
                                uib-typeahead="item as item.name for item in $ctrl.group['Executive Officers'] | filter: {name:$viewValue}"
                                typeahead-no-results="noResultsXO" 
                                typeahead-wait-ms="300" 
                                typeahead-min-length="3" 
                                typeahead-select-on-exact="true" 
                                typeahead-focus-first="false"
                                typeahead-editable="false"
                                ng-blur="$ctrl.selected.executiveOfficer508 = $ctrl.getValidMember($event, $ctrl.selected.executiveOfficer508, 'Executive Officers')">
                            <div ng-if="noResultsXO"
                                aria-live="assertive" role="log" aria-atomic="false" aria-relevant="additions">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div> 
                        </div>   
                    </div>
                    <div class="form-group col-md-3">
                        <label id="hrLiaisonLabel" for="hrLiaison" class="control-label">HR Liaison</label>
                        <selectize ng-if="$ctrl.isSection508User == false" 
                                id="hrLiaison"
                                aria-labelledby="hrLiaisonLabel"
                                config="$ctrl.membersInGroupConfig" role="combobox"
                                options="$ctrl.group['HR Liaison']" 
                                ng-model="$ctrl.selected.hrLiaison"></selectize>
                        <div ng-if="$ctrl.isSection508User == true">                                
                            <input ng-model="$ctrl.selected.hrLiaison508" 
                                class="form-control" 
                                type="text" 
                                placeholder="Type 3 characters of HR Liaison's name"

                                aria-labelledby="hrLiaisonLabel"
                                id="hrLiaison"
                                
                                uib-typeahead="item as item.name for item in $ctrl.group['HR Liaison'] | filter: {name:$viewValue}"
                                typeahead-no-results="noResultsHR" 
                                typeahead-wait-ms="300" 
                                typeahead-min-length="3" 
                                typeahead-select-on-exact="true" 
                                typeahead-focus-first="false"
                                typeahead-editable="false"
                                ng-blur="$ctrl.selected.hrLiaison508 = $ctrl.getValidMember($event, $ctrl.selected.hrLiaison508, 'HR Liaison')">
                            <div ng-if="noResultsHR"
                                aria-live="assertive" role="log" aria-atomic="false" aria-relevant="additions">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div> 
                        </div>                                     
                    </div>
                </div>

                <div class="row container-fluid">
                    <div class="form-group col-md-3">
                        <label id="staffingSpecialistLabel" for="staffingSpecialist" class="control-label">Staffing Specialist</label>
                        <selectize ng-if="$ctrl.isSection508User == false" 
                                id="staffingSpecialist"
                                aria-labelledby="staffingSpecialistLabel"
                                config="$ctrl.membersInGroupConfig" role="combobox"
                                options="$ctrl.group['HR Staffing Specialists']" 
                                ng-model="$ctrl.selected.staffSpecialist"></selectize>
                        <div ng-if="$ctrl.isSection508User == true">
                            <input ng-model="$ctrl.selected.staffSpecialist508" 
                                class="form-control" 
                                type="text" 
                                placeholder="Type 3 characters of Staffing Specialist's name"

                                aria-labelledby="staffingSpecialistLabel"
                                id="staffingSpecialist"
                                
                                uib-typeahead="item as item.name for item in $ctrl.group['HR Staffing Specialists'] | filter: {name:$viewValue}"
                                typeahead-no-results="noResultsSS" 
                                typeahead-wait-ms="300" 
                                typeahead-min-length="3" 
                                typeahead-select-on-exact="true" 
                                typeahead-focus-first="false"
                                typeahead-editable="false"
                                ng-blur="$ctrl.selected.staffSpecialist508 = $ctrl.getValidMember($event, $ctrl.selected.staffSpecialist508, 'HR Staffing Specialists')">
                            <div ng-if="noResultsSS"
                                aria-live="assertive" role="log" aria-atomic="false" aria-relevant="additions">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label id="classificationSpecialistLabel" for="classificationSpecialist" class="control-label">Classification Specialist</label>
                        <selectize ng-if="$ctrl.isSection508User == false"  
                                id="classificationSpecialist"
                                aria-labelledby="classificationSpecialistLabel"
                                config="$ctrl.membersInGroupConfig" role="combobox"
                                options="$ctrl.group['HR Classification Specialists']" 
                                ng-model="$ctrl.selected.classSpecialist"></selectize>
                        <div ng-if="$ctrl.isSection508User == true">
                            <input ng-model="$ctrl.selected.classSpecialist508" 
                                class="form-control" 
                                type="text" 
                                placeholder="Type 3 characters of Classification Specialist's name"

                                aria-labelledby="classificationSpecialistLabel"
                                id="classificationSpecialist"
                                
                                uib-typeahead="item as item.name for item in $ctrl.group['HR Classification Specialists'] | filter: {name:$viewValue}"
                                typeahead-no-results="noResultsCS" 
                                typeahead-wait-ms="300" 
                                typeahead-min-length="3" 
                                typeahead-select-on-exact="true" 
                                typeahead-focus-first="false"
                                typeahead-editable="false"
                                ng-blur="$ctrl.selected.classSpecialist508 = $ctrl.getValidMember($event, $ctrl.selected.classSpecialist508, 'HR Classification Specialists')">
                            <div ng-if="noResultsCS"
                                aria-live="assertive" role="log" aria-atomic="false" aria-relevant="additions">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>  
                        </div>                               
                    </div>
                </div>

                <div class="row row-centered">
                    <div class="col-md-5 col-centered">
                        <button type="button" class="btn btn-primary" name="ok" ng-click="$ctrl.submit()" 
                            ng-disabled="fReportSection.$invalid" aria-label="OK" tabindex="0">
                            <span class="glyphicon glyphicon-ok"></span> OK</button>
                        <button type="button" class="btn btn-primary" name="reset" ng-click="$ctrl.reset()" aria-label="Reset" tabindex="0">
                            <span class="glyphicon glyphicon-refresh"></span> Reset</button>
                        <button type="button" class="btn btn-primary" name="cancel" ng-click="$ctrl.close()" aria-label="Cancel" tabindex="0">
                            <span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

</div>