<style>
    body {
        padding: 10px 10px 10px 10px;
    }

</style>

<div id="reportFilter" ng-form="fReportSection" aria-busy="true">
    <fieldset>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <small>{{$ctrl.report.description}}</small>
                </h1>
            </div>
            <div class="panel-body">
                <div class="row container-fluid">
                    <div class="form-group col-md-3 required">
                        <label id="ComponentLabel" for="selectComponent" class="control-label">Component</label>
                        <selectize class="form-control" role="combobox" id="selectComponent" required aria-labelledby="ComponentLabel"
                                    ng-model="$ctrl.selected.component" 
                                    options="$ctrl.components"
                                    config="$ctrl.simpleConfig"
                                    placeholder="Select One..."></selectize>
                    </div>
                    <div class="form-group col-md-3 required" ng-if="$ctrl.selected.component == 'By Admin Code'">
                        <label id="adminCodeLabel" for="adminCodeInput" class="control-label">Administrative Code</label>
                        <input id="adminCodeInput" aria-labelledby="adminCodeLabel" 
                               ng-model="$ctrl.selected.adminCode" class="form-control" type="text" 
                               ng-minlength="3"
                               placeholder="Enter Administrative Code..." required aria-label="Administrative Code">
                    </div>
                    <div class="form-group col-md-3 required" ng-if="$ctrl.selected.component == 'By Admin Code'">
                        <label id="subOrgLabel" for="subOrgSelect" class="control-label">Include Requests for Sub-Orgs?</label>
                        <selectize id="subOrgSelect" role="combobox" aria-labelledby="subOrgLabel" required
                                    ng-model="$ctrl.selected.includeSubOrg" 
                                    options="$ctrl.includeSubOrgs"
                                    config="$ctrl.simpleConfig"></selectize>
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="col-md-3">
                        <label id="dateRCompletedFromLabel" for="dateRCompletedFromInput dateRCompletedFromButton" class="control-label">{{$ctrl.dateLabel}}</label>
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="form-group col-md-3 required">
                        <label id="dateRCompletedFromLabel" for="dateRCompletedFromInput dateRCompletedFromButton" class="control-label">From</label>
                        <p class="input-group">
                            <input id="dateRCompletedFromInput" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.selected.fromDate" 
                                is-open="$ctrl.fromDateOpened" datepicker-options="$ctrl.dateOptionFrom" ng-required="true" 
                                close-text="Close" ng-change="$ctrl.changeFromOption()" required aria-labelledby="dateRCompletedFromLabel"/>
                            <span class="input-group-btn">
                                <button id="dateRCompletedFromButton" type="button" class="btn btn-default" ng-click="$ctrl.openFromDate($event)" required aria-labelledby="dateRCompletedFromLabel">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group col-md-3 required">
                        <label id="dateRCompletedToLabel" for="dateRCompletedToInput dateRCompletedToButton" class="control-label">To</label>
						<p class="input-group">
                            <input id="dateRCompletedToInput" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.selected.toDate" 
                                is-open="$ctrl.toDateOpened" datepicker-options="$ctrl.dateOptionTo" ng-required="true" 
                                close-text="Close" ng-change="$ctrl.changeToOption()" required aria-labelledby="dateRCompletedToLabel"/>
                            <span class="input-group-btn">
                                <button id="dateRCompletedToButton" type="button" class="btn btn-default" ng-click="$ctrl.openToDate($event)" aria-labelledby="dateRCompletedToLabel">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" aria-labelledby="sectionHelp">
            <div class="panel-heading">
                <h1 class="panel-title" id="sectionHelp">
                    <small>The optional fields below allow you to further filter the set of job requests that you wish to see on the report.</small>
                </h1>
            </div>

            <div class="panel-body">
                <div class="row container-fluid">
                    <div class="form-group col-md-3">
                        <label id="requestTypeLabel" for="requestTypeSelect" class="control-label">Request Type</label>
                        <selectize id="requestTypeSelect" 
                                    config="$ctrl.simpleConfig" 
                                    options="$ctrl.requestTypes" 
                                    ng-model="$ctrl.selected.requestType"></selectize>
                        
                        
                    </div>
                    <div class="form-group col-md-3" 
                        ng-if="$ctrl.selected.appointmentType != 'Expert/Consultant' && $ctrl.selected.appointmentType != 'Volunteer'">
                        <label id="classificationTypeLabel" for="classificationTypeSelect" class="control-label">Classification Type</label>
                        <selectize role="combobox" id="classificationTypeSelect" aria-labelledby="classificationTypeLabel" required
                                    ng-model ="$ctrl.selected.classificationType" 
                                    options = "$ctrl.getClassificationTypes()"
                                    config="$ctrl.simpleConfig"></selectize>
                      
                    </div>
                </div>

                <div class="row container-fluid" ng-if="$ctrl.selected.requestType == 'Appointment'">
                    <div class="form-group col-md-3 required">
                        <label id="appointmentTypeLabel" for="appointmentTypeSelect" class="control-label">Appointment Type</label>
                        <selectize role="combobox" id="appointmentTypeSelect" aria-labelledby="appointmentTypeLabel" required
                                    ng-model="$ctrl.selected.appointmentType"
                                    options="$ctrl.appointmentTypes"
                                    config="$ctrl.simpleConfig"></selectize>
                    </div>
                    <div class="form-group col-md-3 required" ng-if="$ctrl.selected.appointmentType == 'Schedule A'">
                        <label id="scheduleATypeLabel" for="scheduleATypeSelect" class="control-label">Schedule A Type</label>
                        <selectize role="combobox" id="scheduleATypeSelect" aria-labelledby="scheduleATypeLabel"  required
                                    ng-model="$ctrl.selected.scheduleAType"
                                    options="$ctrl.scheduleATypes"
                                    config="$ctrl.simpleConfig"></selectize>
                    </div>
                    <div class="form-group col-md-3 required" ng-if="$ctrl.selected.appointmentType == 'Volunteer'">
                        <label role="combobox" id="volunteerTypeLabel" for="volunteerTypeSelect" class="control-label">Volunteer Type</label>
                        <selectize id="volunteerTypeSelect" aria-labelledby="volunteerTypeLabel" required
                                    ng-model="$ctrl.selected.volunteerType"
                                    options="$ctrl.volunteerTypes"
                                    config="$ctrl.simpleConfig"></selectize>
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="form-group col-md-3">
                        <label class="control-label">Selecting Official</label>
                        <selectize config="$ctrl.membersInGroupConfig" role="combobox"
                                    options="$ctrl.group['Selecting Officials']" 
                                    ng-model="$ctrl.selected.selectingOfficial"></selectize>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Executive Officer</label>
                        <selectize config="$ctrl.membersInGroupConfig" role="combobox"
                                    options="$ctrl.group['Executive Officers']" 
                                    ng-model="$ctrl.selected.executiveOfficer"></selectize>
                    </div>
                    <div class="form-group col-md-3">
                        <label id="hrLiaison" class="control-label">HR Liaison</label>
                        <selectize config="$ctrl.membersInGroupConfig" role="combobox"
                                    options="$ctrl.group['HR Liaison']" 
                                    ng-model="$ctrl.selected.hrLiaison"></selectize>
                    </div>
                </div>

                <div class="row container-fluid">
                    <div class="form-group col-md-3">
                        <label class="control-label">Staffing Specialist</label>
                        <selectize config="$ctrl.membersInGroupConfig" role="combobox"
                                    options="$ctrl.group['HR Staffing Specialists']" 
                                    ng-model="$ctrl.selected.staffSpecialist"></selectize>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Classification Specialist</label>
                        <selectize config="$ctrl.membersInGroupConfig" role="combobox"
                                    options="$ctrl.group['HR Classification Specialists']" 
                                    ng-model="$ctrl.selected.classSpecialist"></selectize>
                    </div>
                </div>

                <div class="row row-centered">
                    <div class="col-md-5 col-centered">
                        <button type="button" class="btn btn-primary" name="ok" ng-click="$ctrl.submit()" ng-disabled="fReportSection.$invalid" aria-label="OK">
                            <span class="glyphicon glyphicon-ok"></span> OK</button>
                        <button type="button" class="btn btn-primary" name="reset" ng-click="$ctrl.reset()" aria-label="Reset">
                            <span class="glyphicon glyphicon-refresh"></span> Reset</button>
                        <button type="button" class="btn btn-primary" name="cancel" ng-click="$ctrl.close()" aria-label="Cancel">
                            <span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>